#alumnPage{
	font-size: 12px;
}

#image{
	max-height: 85%;
	max-width: 80%;
}

#imageAnglo{
	margin-top: 10%; 
	max-height: 50%;
	max-width: 50%;
	margin-left: auto;	
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}