<div id="modal_content">
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div id="item_one" class="novReports">
          <label for="recipient-name" class="form-control-label h6" id="text_one"> </label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div id="item_two" class="novReports">
          <label for="recipient-name" class="form-control-label h6" id="text_two"> </label>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div id="item_three" class="novReports">
          <label for="recipient-name" class="form-control-label h6" id="text_three"> </label>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div id="item_four" class="novReports">
          <label for="recipient-name" class="form-control-label h6" id="text_four"> </label>
        </div>
      </div>
    </div>
  </div>
</div>