<div class="row nov-Rest">
  <div class="col-md-6">
    <div class="form-group">
      <div id="item_one">
        <label for="recipient-name" class="form-control-label h6" id="text_one"> </label>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div id="item_two">
        <label for="recipient-name" class="form-control-label h6" id="text_two"> </label>
      </div>
    </div>
  </div>
</div>

<div class="row nov-Rest">
  <div class="col-md-6">
    <div class="form-group">
      <div id="item_three">
        <label for="recipient-name" class="form-control-label h6" id="text_three"> </label>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <div id="item_four">
        <label for="recipient-name" class="form-control-label h6" id="text_four"> </label>
      </div>
    </div>
  </div>
</div>

<div class="row nov-Rest">
  <div class="col-md-12">
    <div class="form-group">
      <label for="message-text" class="form-control-label h6">Observaciones </label>
      <textarea class="form-control" id="obsModal"></textarea>
    </div>
  </div>
</div>