<div class="container animated zoomIn" >
  <div class="card card-login mx-auto mt-5 border" id="alumnCard">
    <div class="card-header" style='background-color:#E6E6E6'>
      <div class="row">
        <div class="col-md-2">
          <span><i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i></span>
        </div>
        <div class="col-md-8" align="center">
          <label><strong>Asistencia por Archivos</strong></label> 
        </div>
        <div class="col-md-2">
          <span><i class="fa fa-cloud-upload fa-lg" aria-hidden="true"></i></span>
        </div>
      </div>
    </div>
    <div class="card-body" style='background-color:#EFFBFB'>

      <form id="form1" autocomplete="off">
        <div class="form-group">
            <div class="row align-items-center justify-content-center">
              <input type="file" class="form-control-file" id="file" aria-describedby="fileHelp" accept=".xlsx, .xls, .csv">
            </div>
        </div>
        <button type="submit" id="btnCalumn" class="btn btn-info btn-block" disabled="disabled"><span id="btnCtext">Enviar</span></button>  
      </form>
    </div>
    <div class="card-footer" style='background-color:#E6E6E6; text-align: center'>
      
    </div>
  </div>
</div>