<div class="container animated zoomIn">
	<div class="card text-center mx-auto mt-3">
		<div class="card-header" >
			<div class="row">
				<div class="col-md-2">
					<i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>
				</div>
				<div class="col-md-8">
					<label class="h6">Partidos Recientes </label>
				</div>
				<div class="col-md-2">
					<i class="fa fa-futbol-o fa-lg" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<form id="formApuesta" autocomplete="off">
			<div class="form-group">
				<div class="card-block" >
					<div class="row"></div>
					<div class="row p-3 divReport">
						<div class="col-md-2"  id="date-start">    
							<input class="form-control form-control-sm " type="date" id="dateStart">
						</div>
						<div class="col-md-8"  id="assistanceType"></div>
						<div class="col-md-2"  id="date-end">    
							<input class="form-control form-control-sm " type="date" id="dateEnd">
						</div>
					</div>
					<div class="row animated pulse infinite align-items-center justify-content-center" id="contentError">
						<span id="errorForm"></span>
					</div>
				</div>
			</div>
			<div class="card-footer text-muted">
				<div class="row">
					<div class="col-md-12">
						<button type="submit" class="btn btn-info btn-sm" id="btnGenerate" disabled="disabled">Generar</button>
					</div>	
				</div>
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="d-none" id ="contentReport" style="padding-top: 5%;">		
				<div class="row">
					<div class="col-md-12" id="tableContent"></div>
				</div>
		
			</div>
		</div>
	</div>
</div>